/* default */

* {
    margin: 0;
    padding: 0;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.w-90 {
    width: 90%;
}


/* canvas */

.canvasScrollNone {
    touch-action: none;
    -webkit-user-drag: none;
}